<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="font-family: arial; display: flex; align-items: center; justify-content: center; height: 100vh; margin: 0">
    <div style="display: flex; flex-direction: column; text-align: center">
      <div style="align-items: center; justify-content: center">
        <img src="/img/verify-email-success.svg" alt="verify email success icon" style="width: 15%" />
        <h1 style="font-weight: bold">Email Verification Successful</h1>
        <p style="margin-top: 30px; margin-bottom: 40px">Thank you for verifying your email address. Your email has been successfully confirmed, and your account is now active.</p>
        <a href="/" style="padding: 10px 20px; background-color: royalblue; text-decoration: none; color: white; border-radius: 5px">&lt; Back to login</a>
      </div>
    </div>
  </body>
</html>
